<div class='container table-contain'>

  <p style="color: green"><%= notice %></p>

  <h1>Users</h1>

  <table class='table table-striped' id='users_table' data-source='<%= users_url(format: :json) %>'>
    <thead>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Mistakes</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <%= link_to "New user", new_user_path %>

</div>