<div id="mistakes" class="container table-contain">
<p style="color: green"><%= notice %></p>

<h1>Mistakes</h1>

  <table class='table table-striped' id='mistakes_table' data-source='<%= mistakes_url(format: :json) %>'>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Severity</th>
      <th>Created At</th>
      <th>Description</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <button class='btn btn-outline-danger'><%= link_to "New Mistake", new_mistake_path %></button>
</div>


