<div class="container table-contain">
  <p style="color: #75B9BE"><%= notice %></p>

  <h1>Master Table</h1>

<table class='table table-striped' id='user_mistakes_table' data-source='<%= user_mistakes_url(format: :json) %>'>
    <thead>
      <th>ID</th>
      <th>User</th>
      <th>Mistake</th>
      <th>Created At</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <button class='btn btn-outline-danger'><%= link_to "Log a Mistake", new_user_mistake_path %></button>
</div>