<p style="color: green"><%= notice %></p>

<h1>User mistakes</h1>

<div id="user_mistakes">
  <% @user_mistakes.each do |user_mistake| %>
    <%= render user_mistake %>
    <p>
      <%= link_to "Show this user mistake", user_mistake %>
    </p>
  <% end %>
</div>

<%= link_to "New user mistake", new_user_mistake_path %>
